@import './main.css';

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: #003567;
}

input, textarea {
    font-family: 'Lato', sans-serif;
}

h1, h2, p {
    margin-top: 0;
}

.header-container {
    /* padding: 1em 5em; */
}

h1 {
    margin-bottom: 0;
}

/* dropdown menu */

.dropdown-menu {
    position: relative;
    cursor: default;
    cursor: pointer;
}

.dropdown-menu-list {
    position: absolute;
    left: 0;
    top: 2.5em;
    min-width: 6.5rem;
    border-radius: 0.5rem;
    background: #004b8f;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    z-index: 0;
    opacity: 0;
    transform: translateY(-0.4rem);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dropdown-menu-list::after {
    position: absolute;
    content: '';
    height: 0.6rem;
    width: 0.6rem;
    left: 75%;
    top: -0.3rem;
    transform: rotate(45deg);
    background-color: #004b8f;
    z-index: -1;
}

.dropdown-menu-list-item {
    padding: 0.3em 0.6em;
    border-radius: 0.5rem;
    margin: 0.2em;
}

.dropdown-menu-list-item:nth-of-type(1) {
    background-color: #c9e5ff;
    color: #00182f;
}

.header-flex,
.main-page-container {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: min(90%, 120rem);
}

.header-container {
    position: sticky;
    top: 0px;
}

.header-title,
.header-nav,
.navbar, 
.calendar {
    background: #00407b;
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header-title,
.navbar {
    padding: 1rem;
    width: 20%;
}

.header-title {
    text-align: center;
}

.header-nav {
    width: 79%;
    font-size: 1.25rem;
    padding: 0.5em 1.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-filter-group {
    font-size: 1.2rem;
    width: 26rem;
}

.header-filter-group,
.header-toggle-group,
.header-dropdown-group,
.dropdown-menu,
.header-date-group,
.header-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu,
.header-toggle-day,
.header-toggle-week,
.header-date {
    padding: 0.3em 0.8em;
    border-radius: 2rem;
    background: #004b8f;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

.header-toggle-week {
    background: #c9e5ff;
    color: #00182f;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.4);
}

.header-toggle-group {
    width: 37.5%;
}

.header-dropdown-group {
    width: 57%;
}

.icon-caret-down {
    margin-left: 0.4em;
}

.header-date-group {
    
}

.header-date-month {
    margin: 0 0.6em;
}

.toggle-period {
    margin-left: 0.8em;
    display: flex;
    align-items: center;
}

.icon-angle-left-container,
.icon-angle-right-container {
    padding: 0.3em 0;

}

.icon-angle-left-container:hover,
.icon-angle-right-container:hover {
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(255, 255, 255, 0.1);
}

.icon-angle-left,
.icon-angle-right {
    margin: 0 0.7em;
}

.calendar {
    width: 79%;
    padding: 2em;
}

.calendar-head-group,
.calendar-body {
    margin: auto;
    display: flex;
}

.calendar-head-group {
    height: 4rem;
    position: sticky;
    top: 5.3rem;
    /* z-index: 0; */
}

.calendar-head {
    width: calc(94.5%/7);
}

.calendar-head-day,
.calendar-head-date {
    text-align: center;
}

.calendar-head-day {
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.calendar-body {
    /* position: relative; */
}

.calendar-head-empty,
.calendar-time {
    width: 3.75rem;
    letter-spacing: 0.02rem;
}

.calendar-hour {
    height: calc(100%/18);
    text-align: right;
    padding: 0.4em 0.8em 0 0;
}

.calendar-day {
    height: 100rem;
    width: calc(94.5%/7);
}

.calendar-half-hour {
    height: calc(100%/36);
}

.calendar-half-hour:hover {
    background: #c9e5ff !important;
    border: 1px solid #00407b;  /* losing specificity, apply this to react logic */
}

.calendar-class-info {
    text-align: center;
    color: #00182f;
}

.half-hour-1 {
    border-top: none !important;    
}

.half-hour-36 {
    border-bottom: none !important;
}

.day-1 {
    border-left: none !important;
}

.day-7 {
    border-right: none !important;
}

.calendar-class-info {
    font-size: 0.875rem;
    /* padding-top: 1em; */
}

.calendar-class-info-student-name,
.calendar-class-info-coach-name,
.calendar-class-info-location,
.calendar-class-info-class-period {
    margin-bottom: 0.2em;
}

.form-container {
    background: #00407b;
    color: #fff;
    position: fixed;
    padding: 1.5rem;
    width: min(60%, 30rem);
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.class-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.class-form label {
    position: absolute;
}


.startTime,
.endTime {
    width: 45%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
}

.studentName,
.coachName,
.location,
.note {
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1.5em;
    text-indent: 0.8rem;
    /* outline: red auto 1px; */
}

.form-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.startTime::placeholder,
.endTime::placeholder {
    /* text-align: center; */
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

.note {
    resize: none;
    padding-top: 0.55em;
    height: 4rem;
}

.note::placeholder {
    /* transform: translate(0,0.4rem); */
}

button {
    color: #fff;
    border-radius: 1rem;
    border: none;
    background: #004b8f;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-family: 'Lato';
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.form-button-group {
    padding: 0em;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.form-submit-button,
.form-cancel-button {
    width: 25%;
    height: 2rem;
}

.form-submit-button:hover,
.form-cancel-button:hover {
    background: #0055a4;
    cursor: pointer;
}

.form-delete-button {
    width: 20%;
    background: #a40003;
}

.form-delete-button:hover {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}