@import './main.css';

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: #003567;
}

input, textarea {
    font-family: 'Lato', sans-serif;
}

h1, h2, p {
    margin-top: 0;
}

.header-container {
    /* padding: 1em 5em; */
}

h1 {
    margin-bottom: 0;
}

.header-container,
.main-page-container {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: min(90%, 120rem);
}

.header-container {
    
}

.header-title,
.header-nav,
.navbar, 
.calendar {
    padding: 1rem;
    background: #00407b;
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header-title,
.navbar {
    width: 20%;
}

.header-title {
    text-align: center;
}

.header-nav,
.calendar {
    width: 79%;
    padding: 2em 3em 2em 0;
}

.calendar-head-group,
.calendar-body {
    margin: auto;
    display: flex;
}

.calendar-head-group {
    height: 4rem;
}

.calendar-head {
    width: calc(92%/7);
}

.calendar-head-day,
.calendar-head-date {
    text-align: center;
}

.calendar-head-day {
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.calendar-body {
    /* position: relative; */
}

.calendar-head-empty,
.calendar-time {
    width: 8%;
    letter-spacing: 0.02rem;
}

.calendar-hour {
    height: calc(100%/18);
    text-align: right;
    padding: 0.4em 0.8em 0 0;
}

.calendar-day {
    height: 80rem;
    width: calc(92%/7);
}

.calendar-half-hour {
    height: calc(100%/36);
}

.calendar-half-hour:hover {
    background: #c9e5ff !important;
    border: 1px solid #00407b !important;
}

.half-hour-1 {
    border-top: none !important;    
}

.half-hour-36 {
    border-bottom: none !important;
}

.day-1 {
    border-left: none !important;
}

.day-7 {
    border-right: none !important;
}

/* .calendar-half-hour:nth-of-type(3),
.calendar-half-hour:nth-of-type(4) {
    background: #c9e5ff;
    border: 1px solid #00407b;
}

.calendar-half-hour:nth-of-type(3) {
    margin-bottom: -1px;
    border-bottom: #c9e5ff;
}

.calendar-half-hour:nth-of-type(4) {
    margin-top: -1px;
    border-top: #c9e5ff;
} */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.form-container {
    background: #00407b;
    color: #fff;
    position: fixed;
    padding: 1.5rem;
    width: min(60%, 30rem);
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.class-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.class-form label {
    position: absolute;
}


.startTime,
.endTime {
    width: 45%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
}

.studentName,
.coachName,
.location,
.note {
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1.5em;
    text-indent: 0.8rem;
    /* outline: red auto 1px; */
}

.form-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.startTime::placeholder,
.endTime::placeholder {
    /* text-align: center; */
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

.note {
    resize: none;
    padding-top: 0.55em;
    height: 4rem;
}

.note::placeholder {
    /* transform: translate(0,0.4rem); */
}

button {
    color: #fff;
    border-radius: 1rem;
    border: none;
    background: #004b8f;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-family: 'Lato';
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.form-button-group {
    padding: 0em;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.form-submit-button,
.form-cancel-button {
    width: 25%;
    height: 2rem;
}

.form-submit-button {
    
}

.form-submit-button:hover,
.form-cancel-button:hover {
    background: #0055a4;
    cursor: pointer;
}

