@import './main.css';

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: #003567;
}

h1, h2, p {
    margin-top: 0;
}

.header-container {
    /* padding: 1em 5em; */
}

h1 {
    margin-bottom: 0;
}

.header-container,
.main-page-container {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: min(90%, 120rem);
}

.header-container {
    
}

.header-title,
.header-nav,
.navbar, 
.calendar {
    padding: 1rem;
    background: #00407b;
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header-title,
.navbar {
    width: 20%;
}

.header-title {
    text-align: center;
}

.header-nav,
.calendar {
    width: 79%;
    padding: 2em 3em 2em 0;
}

.calendar-head-group,
.calendar-body {
    margin: auto;
    display: flex;
}

.calendar-head-group {
    height: 4rem;
}

.calendar-head {
    width: calc(92%/7);
}

.calendar-head-day,
.calendar-head-date {
    text-align: center;
    /* text-shadow: 0 0 0.5rem #ffffff; */
}

.calendar-head-day {
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.calendar-body {
    /* position: relative; */
}

.calendar-head-empty,
.calendar-time {
    width: 8%;
    letter-spacing: 0.02rem;
}

.calendar-hour {
    height: calc(100%/18);
    text-align: right;
    padding: 0.4em 0.8em 0 0;
    /* border: 1px solid #e1e1e1; */
}

.calendar-day {
    height: 80rem;
    width: calc(92%/7);
    border-right: 1px solid rgba(225, 225, 225, 0.2);
}

.calendar-half-hour {
    height: calc(100%/36);
    border-top: 1px solid rgba(225, 225, 225, 0.2);
}

.calendar-half-hour:hover {
    background: rgba(255, 255, 255, 0.65);
}

.calendar-day:nth-of-type(8),
.half-hour-1 {
    border: none;
}

.class-form {
    background: #00407b;
    color: #fff;
    position: fixed;
    padding: 1.5rem;
    width: min(60%, 30rem);
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-time {
    display: flex;
    justify-content: space-between;
}

.form-time input {
    width: 45%;
}

.startTime::placeholder,
.endTime::placeholder {
    text-align: center;
}

input {
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1.5em;
}

.studentName::placeholder, 
.coachName::placeholder, 
.location::placeholder {
    padding-left: 1em;
}

button {
    color: #fff;
    border-radius: 1rem;
    border: none;
    background: #004b8f;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-family: 'Lato';
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.form-button-group {
    padding: 0em;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.form-submit-button,
.form-cancel-button {
    width: 25%;
    height: 2rem;
}

.form-submit-button {
    
}

.form-submit-button:hover,
.form-cancel-button:hover {
    background: #0055a4;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}